<app-sidebar></app-sidebar>

<div class="d-flex justify-content-center">
    <h1>Reservez votre cabine d'essayage</h1>
</div>

<hr />

<form [formGroup]="form" (ngSubmit)="getTime()" class="form-inline">
    <div class="form-group">
        <div class="input-group">
            <label class="m-2" for="start">Choisir la date</label>
            <br>
            <input formControlName="date" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #d="ngbDatepicker">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
            </div>
        </div>
    </div>
    <hr />

    <label class="m-2" for="start">Choisir l'heure</label>
    <input [(ngModel)]="time" formControlName="time" type="time" id="start" name="trip-start">

    <hr />
    <button type="submit" class="btn btn-success" [disabled]="!form.valid"> Valider votre rendez-vous </button>

</form>

<hr />

<div class="d-flex justify-content-center">
    <strong>{{ appointmentMessage }}</strong>
</div>