<app-sidebar></app-sidebar>


<div *ngIf="user.shop_cart  !=  undefined && user.shop_cart.length > 0 && user.shop_cart[0].id != ''">
    <ul class="list-group list-group-flush" *ngFor="let article of user.shop_cart; let index = index">
        <li>
            <div class="card-header">
                {{orderedPost[article.id].name}}
            </div>
            <div class="row">
                <div class="col-md-4">
                    <img class="img-thumbnail" src='{{orderedPost[article.id].urlImage}}'></div>
                <div class="col-md-4"><strong> Taille : {{ article.size }} <br/>
            </strong> Prix : {{orderedPost[article.id].price}}</div>
                <div class="col-md-4">
                    <button class="btn btn-danger btn-lg" (click)="delete_article(index)"><span class="material-icons">delete</span></button>
                </div>

            </div>
        </li>
    </ul>
    <div>
        Total : {{prix}}
        <br>
        <div class="row">

            <div class="col-md-3">
                <button class="btn btn-success btn-lg" (click)="go_to('/subscribe')" style="width: 100%;"> Prendre rendez-vous et essayer </button>
            </div>
            <div class="col-md-3">
                <button class="btn btn-success btn-lg" style="width: 100%;"> Valider et payer </button>
            </div>
            <div class="col-md-3">
                <button class="btn btn-danger btn-lg" (click)="delete_allarticle()" style="width: 100%;"> Vider le panier </button>
            </div>

        </div>
    </div>

</div>
<div *ngIf="user.shop_cart  ==  undefined || user.shop_cart.length  ==  0 || user.shop_cart[0].id == ''">
    <h2>Remplissez votre panier et revenez plus tard</h2>
</div>