<!-- Top navigation -->
<!-- Side navigation -->
<div class="sidenav d-flex flex-column justify-content-between bd-highlight">
    <!-- <img class="img-responsive" [src]="src/assets/caplogo.png"> -->
    <div>
        <button class="redirect btn btn-dark btn-lg" (click)="go_to('/shop')" style="width: 100%;">Shop</button>
        <button class="redirect" class="redirect btn btn-dark btn-lg" style="width: 100%;" (click)="go_to('/likes')">Préférences</button>
    </div>
    <!-- <a class="redirect" (click)="go_to('/user')">Account</a> -->

    <div>

        <button class="redirect btn btn-success btn-lg" style="width: 100%;" (click)="go_to('/cart')"> Panier<span class="material-icons">shopping_cart</span></button>
        <button class="redirect btn btn-info btn-md" style="width: 100%;">Personal shopper</button>
        <button class="redirect btn btn-danger btn-md" style="width: 100%;" (click)="authService.SignOut()">Déconnexion<span class="material-icons" >exit_to_app</span>
        </button>
    </div>
</div>

<!-- Page content -->
<div class="main">
</div>