<!-- <div class="email" *ngIf="user != null">
    email {{ user.email }}
</div> -->
<div class="uid" *ngIf="user != null">
    email: {{ user.email }}
    <br/> uid: {{ user.uid }}
    <br/>tags : {{user.tags.brand.adidas }}
</div>