<app-sidebar></app-sidebar>


<div class="card-deck" style="width: 100rem; padding-top: 10%;">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img class="card-img-top d-flex justify-content-center" src='{{myarticle.urlImage}}'>
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{ myarticle.name }}</h5>
                <p class="card-text">Prix : {{ myarticle.price }} €</p>
                <div class="input-group mb-3" style="width: 10%">

                    <select [(ngModel)]="size" (ngModelChange)="dataChanged($event)" name="data">
                        <option *ngFor="let currentData of names" [ngValue]="currentData">
                            {{currentData}}
                        </option>
                    </select>
                    <!-- <select class="custom-select" id="size" (change)="somethingChanged()">
                <option value="0">{{ names[0] }}</option>
                <option value="1">{{ names[1] }}</option>
                <option value="2">{{ names[2] }}</option>
                <option value="3">{{ names[3] }}</option>
            </select> -->
                    <!-- <div ng-app="myApp" ng-controller="myCtrl">

                        <select ng-model="selectedName" ng-options="item for item in names">
                </select>

                    </div> -->

                    <!-- <input type="submit" value="Register" data-toggle="modal" data-target="#shopid"> -->
                </div>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#shopid">
                    <span class="material-icons">add_shopping_cart</span>
          </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="shopid" tabindex="-1" aria-labelledby="shopid" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="shopid">Shop</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <div class="card-deck" style="width: 30rem;">
                    <div class="row no-gutters" data-toggle="modal" data-target="#shopid">
                        <div class="col-md-4">
                            <img class="card-img-top d-flex justify-content-center" src='{{myarticle.urlImage}}'>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{ myarticle.name }}</h5>
                                <p class="card-text">Prix : {{ myarticle.price }} €</p>
                                <p class="card-text"><small class="text-muted">Taille : {{size}} </small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal"><span class="material-icons">cancel</span></button>
                <button type="button" class="btn btn-success" (click)="add_to_cart()" data-dismiss="modal"><span class="material-icons">done_outline</span></button>
            </div>
        </div>
    </div>
</div>