<div class="center displayTable">
    <div class="displayTableCell">

        <div class="authBlock">
            <h3>Sign In</h3>
            <div class="formGroup">
                <input type="text" class="formControl" placeholder="Username" #userName required>
            </div>

            <div class="formGroup">
                <input type="password" class="formControl" placeholder="Password" #userPassword required>
            </div>

            <div class="formGroup">
                <input type="button" class="btn btnPrimary" value="Log in" (click)="authService.SignIn(userName.value, userPassword.value); sign();
                ">
            </div>

            <div class="formGroup">
                <span class="or"><span class="orInner">Or</span></span>
            </div>


        </div>

        <div class="redirectToLogin">
            <span>Don't have an account?<span class="redirect" routerLink="/register-user"> Sign Up</span></span>
        </div>
    </div>
</div>