<app-sidebar></app-sidebar>


<div class="row d-flex justify-content-center">
    <div class="col-sm-6">
        <div class="card m-3 bg-dark">
            <img class="card-img-top d-flex justify-content-center" src='{{myarticle[id].urlImage}}'>

        </div>
        <div class="card-body row d-flex justify-content-center">
            <strong>{{ myarticle[id].tags.type }} </strong>
        </div>
    </div>
</div>
<div class="row d-flex justify-content-center">
    <button type="button" class="btn btn-danger" (click)="preferencies(-1)"><span class="material-icons">thumb_down</span></button>
    <div style="padding: 1%;"></div>
    <button type="button" class="btn btn-success" (click)="preferencies(1)"><span class="material-icons">thumb_up</span></button>
</div>
<div class="row d-flex justify-content-center" style="padding: 1%;">
    <button type="button" class="btn btn-danger" (click)="pref0()">Reinitialisez les préférences</button>
</div>