<app-sidebar></app-sidebar>

<div class="card-deck text-center" style="padding-top: 1%;">
    <ul *ngFor="let post of orderedPost">
        <a (click)="onViewItem(post.id)">
            <div class="card text-center" style="width: 18rem;">
                <!-- <div class="card" style="width: 18rem;" (click)="authService.getProduct(post.id)"> -->
                <img class="card-img-top" src='{{post.urlImage}}'>
                <div class="card-body">
                    <strong>{{ post.name }} </strong>
                </div>
            </div>
            <!-- </div> -->
        </a>
    </ul>
</div>